@import url(reset.css);

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Anuphan", sans-serif;
  color: #3f5c62;

  line-height: 2rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

h2 {
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

h4 {
  font-weight: 700;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: #3f5c62;
  text-decoration: none;
  font-family: "Anuphan", sans-serif;
}

/* -- */

header {
  background-color: #e8e7e3;

  width: 100vw;
  z-index: 20;
  flex-direction: row;
  padding: 1rem;
}
.portfolio-header {
  position: fixed;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logo {
}
.navigation {
  display: flex;
  flex-direction: row;
  padding: 2rem;
}

.nav-item {
  padding: 0.5rem;
  width: 6rem;
  text-align: center;
}

.nav-item:hover {
  color: #3f5c62;
  background-color: #ffd040;
  justify-content: center;
  border-radius: 3rem;
}

.nav-item:active {
  color: #3f5c62;
  background-color: #796321;
  justify-content: center;
  border-radius: 3rem;
}

/* header h2 {
  display: flex;
  flex-direction: row;

  margin-right: 30rem;
  gap: 5rem;
} */

/*  */

.hero-area-main {
  max-height: 60vh;
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;

  background-color: #e8e7e3;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.hero-text {
  width: 40%;
  margin-left: 25rem;
}

.sub-hero {
  margin-left: 10rem;
}

/*  */

body {
  background: #e8e7e3;
}

.main-content-column {
  width: 100%;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 40%;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* main {
  background-color: #e8e7e3;
  display: flex;

  flex-direction: column;
  margin: 0 auto;
  max-width: 100%;
} */

/*  */
footer {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-card {
  width: 40%;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .navigation {
    flex-direction: row;
  }
  body {
    background: rgb(109, 109, 234);
  }
  .sub-hero {
    margin-left: 2rem;
  }
  .section-title {
    width: 60%;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (width: 1200px) {
  body {
    background: green;
  }
  .sub-hero {
    margin-left: 5rem;
  }
  .section-title {
    width: 60%;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  body {
    background: #e8e7e3;
  }
}
